.logo{
    width: 40%;
    max-width: 130px;
}
.pic{
    width: 55%;
    border-radius: 2em;
}
h5{
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.main-head{
    background-color: rgba(0, 0, 0, 0.8);
}
body,html{
    margin: 0;
}
.main-nav a:hover{
    background-color: rgba(225, 255,255,.3);
}
.main-nav li{
    padding-left: 1rem;
}
.imgtm{
    width: 296px;
    height: 283px;
    border-radius: 50%;
    
}
p{
text-align: justify;
}