@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@200&family=Roboto:wght@300&display=swap');
body{
    margin: 0%;
    padding: 0%;
    background-color: #ffffff;
}
.full{
    width: 100%;
    height: 100%;
    background-size: 100%;
    position: fixed;
    z-index: -1;
}
html{
    scroll-behavior: smooth;
}
a{
    user-select: none;
    -webkit-user-select: none;
    outline: none;
    border: none;
    background-color: #0000ff00;
}

img{
    user-select: none;
    -webkit-user-select: none;
    outline: none;
    border: none;
    background-color: #0000ff00;
}

.bar{
    display:inline-flex;
    justify-content: center;
    width: 100%;
    height: 2.5rem;
    background-color: rgb(0, 0, 0);
    opacity: 85%;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.452) -1px 2px 8px;
    position: sticky;
    top: 0;
    z-index: 2;   
}
.gif{
    height: 100%;;

}
.navbutton{
    display: none;
    position: absolute;
    right: .5em;
    top:-.1em
}
.navbutton img{
    width: 2em;
    opacity:80% ;
}
.navi{
        display: flex;
        position: relative;
        background-color: #1dbeeb00;
        backdrop-filter: blur(1em);
        box-shadow: rgba(0, 0, 0, 0.089) 0px 3px 20px;
        justify-content:center;
        width: 100%;
        margin-top: -.3em;
    }
    .navi img{
        max-width: 35px;
        max-height: 25px;
        
    }
.navi li{
    margin-top: 5%;
    margin-left: 1em;
}
.navi ul{
    margin: 0%;
    padding: 0%;
    list-style: none;
    display: flex;
    justify-content: space-around;
}
span.topbtn{
    display:flex;
    width: 100%;
    position: relative;
    background-color: #2e778db0;
    backdrop-filter: blur(.4em);
    border-radius: 5em;
    margin-bottom: 1em;
    box-shadow: rgba(17, 17, 17, 0.281) 0px 6px 7px -3px;
    align-items: center;
    padding: .2em;
}
.span.topbtn::before{
    content: '';
    background-image: linear-gradient(319deg, #ff1493 0%, #0000ff 37%, #ff8c00 100%);
    position: absolute;
    z-index: -1;
    top: 1em;
    bottom: -.3em;
    left: .5em;
    right: .5em;
    border-radius: 15px;
    filter: blur(.2em);
    visibility: hidden;
}
span.topbtn a{
    display: flex;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: .82em;
    font-weight: 700;
}
a{
    display: flex;
    text-decoration: none;
    padding: .5em;
    padding-left: .6em;
    padding-right: .6em;
    position: relative;
    color: rgb(255, 255, 255);    
}
.hmimg{
    display: flex;
    position:relative;
    margin-top: .3em;
    margin-left: .5em;
}

span.topbtn:hover{
    background-color: #0f5266b9;
    backdrop-filter: blur(.4em);
}
span.topbtn:hover::before,span:focus::before{
    visibility: visible;
}
.aboutico{
   margin-left: .5em;
   margin-right: .4em;
}
.section1{
    width: 100%;
text-align: center;
justify-content: center;
align-items: center;
}
.webimg{
    display:inline-flex;
    position: relative;
    justify-content: center;
    width: 95%;
    max-width: 700px;
    margin-top: 1em;
    padding: .6em;
    border-radius: .7em;
    background-color: #d9dbdb23;
backdrop-filter: blur(1em);
}
.webimg img{
    display: flex;
    position: relative;
    border-radius: .5em;
    width: 98%;
    max-width: 700px;
    box-shadow: #00000031 0px 0px 225px 0px;
}
.aboutimg
{
display:flex;
position: relative;
width: 98%;
max-width: 720px;
margin-left: auto;
margin-right: auto;
margin-top: 2em;
background-color: #ffffff;
border-radius: .9rem;
box-shadow: rgba(0, 0, 0, 0.295) 0px 2px 15px -5px;
}

.violethead{
    display: flex;
    position: absolute;
    padding-left: .9em;
}
.violet{
    display:flex;
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: .5em;
}
.aboutimg h4{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    position: relative;
    color: rgb(196, 4, 148);
}
.about
{
    color: rgb(196, 4, 148);
    font-weight: 600;
    font-family: 'Montserrat Alternates', sans-serif;
    line-height: 30px;
    display: flex;
    justify-content: center;
    text-align:right;
    position: relative;
}
.about p{
    margin-top: 4em;
    margin-bottom: 3em;
    padding-right: .7em;
    padding: auto;  
    margin-left: 1em;
    margin-right: 1em;  
}
.about::after
{
    align-self: center;
    margin-right: 1em;
    content: '';
    width:1em;
    height: 83%;
    background-color: rgb(243, 135, 220);
}

.img1
{
    width: 80%;
    max-width: 160px;
    display: flex;
    align-items: center;
    justify-content: end;
  }
.img1 img
{
    margin-right: 4%;
    border-radius: .4rem;
    width: 100%;
    max-width: 150px;
    min-width: 100px;
}
.whovr{
    display: flex;
    position: relative;
    background-color: #d9dbdb23;
backdrop-filter: blur(1em);
    text-align: center;  
    width: 98%;
    max-width: 720px;
    box-shadow: rgba(0, 0, 0, 0.295) 0px 2px 15px -5px;
    border-radius: .9em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    border-color: #0000ff;
}
.bluehead{
    display: flex;
    position:absolute;
    padding-left: .9em;

}
.bluehead img{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: .5em;
    display: flex;
    position: relative;
}
.bluehead h4{
    display: flex;
    position: relative;
    color: rgb(66, 114, 219);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.whovrtext{
    display: flex;
    position: relative;
    align-items: center;
    color: rgb(25, 57, 126);
    font-weight: 600;
    font-family: 'Montserrat Alternates', sans-serif;
    line-height: 30px;
    text-align: right;
}
.whovrtext p{
    margin-top: 4em;
    margin-bottom: 2.7em;
    margin-left: 1em;
    margin-right: 1.5em; 
}
.whovrtext::after
{
    margin-right: .3em;
    content: '';
    width: 1em;
    height: 70%;
    background-color: rgb(80, 132, 245);;
}
.whovrimg{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: .9em;
    margin-bottom: .9em;
    padding-right: 1%;
    padding-left: 0;
    width: 80%;
    max-width: 160px;
}
.whovrimg img{
    margin-right: 1%;
    margin-left: 0;
    padding-left: 0;
    border-radius: .4em;
    height: 100%;
    max-height: 95px;
}
.services{
    display: flex;
    padding-top: 4em;
    padding-bottom: 2em;
    align-items: center;
    justify-content: center;
}

.services h2{
    color:rgb(79, 159, 206);
    text-shadow: #00000013 1px 1px;
    font-size: 1.5em;
    letter-spacing: .5em;
    font-weight: 900;
}
.section2{
    width: 100%;
}
.serow1{
    display: flex;
    font-weight: 900;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: .9em;
    text-shadow: #00000011 1px 1px;
    color: rgb(14, 85, 167);
    width: 98%;
    max-width: 710px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    justify-content:space-around;
}
.serweb{
    position: relative;
    padding: .2em;
    background-color: #d9dbdb23;
backdrop-filter: blur(1em);
    box-shadow: rgba(0, 0, 0, 0.295) 0px 2px 15px -5px;
    text-align: center;
    border-radius: .5em
}
.serweb img{
    margin-top: .9rem;
    margin-bottom: .9em;
}
.serweb:hover{
    background-color: #00c3ff17;
}

.sercon{
    position: relative;
    text-align: center;
    background-color: #d9dbdb23;
backdrop-filter: blur(1em);
    box-shadow: rgba(0, 0, 0, 0.295) 0px 2px 15px -5px;
    border-radius: .5em;
    align-items: center;
}
.sercon img{
    margin-top: .9rem;
    margin-bottom: .9em;
}
.sercon p{
    padding-top: 1.rem;
    padding-left: 3rem;
    padding-right: 3rem;
}
.sercon:hover{
    background-color: #00c3ff17;
}
.sersoc{
    position: relative;
    padding: .1em;
    background-color: #d9dbdb23;
backdrop-filter: blur(1em);
    box-shadow: rgba(0, 0, 0, 0.295) 0px 2px 15px -5px;
    border-radius: .5em;
    text-align: center;
}
.sersoc p{
    margin-left: 1.5em;
    margin-right: 1.5em;
    margin-top: 2em;

}
.sersoc:hover{
    background-color: #00c3ff17;
}
.serow2{
    display: flex;
    justify-content: space-around;
    font-weight: 900;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: .9em;
    text-shadow: #0000000c 1px 1px;
    color: rgb(14, 85, 167);
    width: 98%;
    max-width: 710px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
}
.serblog{
    position: relative;
    text-align: center;
    background-color: #d9dbdb23;
backdrop-filter: blur(1em);
    box-shadow: rgba(0, 0, 0, 0.295) 0px 2px 15px -5px;
    padding-top:  .25em;
    padding-left: .6em;
    padding-right: .6em;
    border-radius: .5em;
}
.serblog p{
    margin-top: 0;
    margin-left: 2.4em;
    margin-right: 2.4em;
}
.serblog:hover{
    background-color: #00c3ff17;
}
.gotop{
    display:inline-flex;
    float:right;
    right: 1em;
    position: fixed;
    z-index: 3;
    bottom: 2em;
    background-color: #0740508f;
    backdrop-filter: blur(1em);
    box-shadow: rgba(0, 0, 0, 0.274) .1em .1em .3em .1em;
    border-radius: 5em;
    cursor: pointer;
}
.gotop button{
    border: none;
    outline: none;
}
.gotop img{
    width: 1.9em;
    height: 2.5em;
}
.gotop:hover{
    background-color: #0d718fb0;
}
.serpost{
    position: relative;
    padding-top: .2em;
    padding-left: 0;
    padding-right: 0%;
    background-color: #d9dbdb23;
backdrop-filter: blur(1em);
    box-shadow: rgba(0, 0, 0, 0.295) 0px 2px 15px -5px;
    border-radius: .5em;
    text-align: center;
}
.serpost p{
    margin-top: auto;
    margin-left: 2.4em;
    margin-right: 2.4em;
}
.serpost:hover{
    background-color: #00c3ff17;
}
@media all and (max-width: 800px){
    .full{
        background-size: 150%;
    }
    .bar{
        max-height: 35px;
    }
    .navi{
        display: none;
    }
    .navbutton{
        display: flex;
    }
    .navi ul{
        display: flex;
        flex-direction: column;
        width: 100%;
        font-size: 1.3em;
    }
    .navi.active{
        display: flex;
    }
    span.topbtn a{
        display: flex;
        font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: .49em;
        font-weight: 700;
    }
    .aboutimg{
        display: flex;
        position: relative;
        flex-direction: column-reverse;
        width: 95%;
    }
    .about::after
{
    top: 0;
    margin-top: 1em;
    content: '';
    position: absolute;
    width:90%;
    height: 1%;
    background-color: rgb(243, 135, 220);
}
.about p{
    font-size: .93em;
}
    .violethead{
        display: flex;
        position: absolute;
        left: 0;
        top: 0;
        
    }
    .img1{
        align-self: center;
        margin-top: 5em;
    }
    .about{
        text-align: left;
        justify-content: center;
    }
    .whovr{
        display: flex;
        position: relative;
        flex-direction: column-reverse;
        width: 95%;
    }
    .whovrtext p{
        font-size: .95em;
    }
    .whovrtext::after
{
    top: 0;
    margin-top: 1em;
    content: '';
    position: absolute;
    width: 90%;
    height: 1%;
    background-color: rgb(102, 147, 245);
}
    .bluehead{
        display: flex;
        position: absolute;
        left: 0;
        top: 0;   
    }
    .whovrimg{
        align-self: center;
        margin-top: 5em;
    }
    .whovrtext{
        text-align: left;
        justify-content: center;
    }

    .serow1{
        flex-direction: column;
    }

    .serweb{
        margin-left: 10%;
        margin-right: 10%;
    }
    .sercon{
        margin-top: 4%;
        margin-bottom: 4%;
        margin-left: 10%;
        margin-right: 10%;
    }
    .sersoc{
        margin-left: 10%;
        margin-right: 10%;
    }
    .serow2{
        flex-direction: column;
        margin-top: 4%;
    }
    .serblog{
        margin-bottom: 4%;
        margin-left: 10%;
        margin-right: 10%;
    }
    .serpost{
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 5%;
    }
    .gmail{
        font-size: .8em;
    }
   
}
.bottom{
    display: flex;
    width: 100%;
    background-color: #e7e8e956;
    backdrop-filter: blur(3em);
    margin-top: 1.5em;
}
.gmail{
    margin-left: .5em;
}
.bottomleft ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin-top: -2em;
    margin-bottom: 2em;
    margin-left: -2em;
}
.bottomleft img{
    min-width: 1.1em;
    max-width: 1.5em ;
}
.bottomleft a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(32, 32, 32);
    justify-content: center;
    margin-top: 6vh;
}

.team{
    background-color: #ced3d32d;
    backdrop-filter: blur(1em);
    font-size: 1em;
    text-align: center;
    font-family: cursive;
    color: #3d3b3bb9;
    font-weight: 500;
    margin-bottom: -1em;
    
}

    #pageloader img{
        width: 130px;
    }
    #pageloader{
        display: flex;
        width: 100%;
        height: 100vh;
        position: fixed;
        background-color: #ffffff;
        z-index: 100;
        align-items: center;
        justify-content: center;
    }
    #pageloader img{
        width: 250px;
    }

