@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@200&family=Roboto:wght@300&display=swap');
body{
    margin: 0%;
    padding: 0%;
    background-image: url(images/back.jpg);
    background-repeat:;
    background-size:100%;

}
html{
    scroll-behavior: smooth;
}
.bar{
    display:block;
    width: 100%;
    height: 7vh;
    background-color: rgb(0, 0, 0);
    opacity: 85%;
    text-align: center;
    box-shadow: rgb(0, 0, 0) -1px 2px 8px;
    
    
}
.gif{
    height: 100%;;

}
.lognav{
    padding-top: 50px;
    display:flex;
    position: relative;
    align-items: center;
    background-color: rgba(255, 255, 255, 0);
    box-shadow: rgba(0, 0, 0, 0.123) 0px 3px 20px;

    }
.navi{
    display: flex;
        height: 5em;
        position: relative;
        box-shadow: rgba(0, 0, 0, 0.123) 0px 3px 20px;
        justify-content:center;
        width: 100%;

    }
    .navi img{
        max-width: 15px;
        max-height: 15px;
    }
.navi li{
    margin-top: 5%;
}
.navi ul{
    margin: 0%;
    padding: 0%;
    list-style: none;
    display: flex;
    justify-content: space-around;

}
span.topbtn{
    display:flex;
    width: 100%;
    position: relative;
    background: rgb(34, 74, 161);
    border-radius: 5em;
    box-shadow: rgb(17, 17, 17) 0px 6px 7px -3px;
}
span.topbtn::before{
    content: '';
    background-image: linear-gradient(319deg, #ff1493 0%, #0000ff 37%, #ff8c00 100%);
    position: absolute;
    z-index: -1;
    top: 1em;
    bottom: -.3em;
    left: .5em;
    right: .5em;
    border-radius: 15px;
    filter: blur(.2em);
    visibility: hidden;
}
span.topbtn a{
    display: flex;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: .7em;
    font-weight: 500;
    margin-left:;

}
a{
    display: flex;
    text-decoration: none;
    padding: .5em;
    padding-left: .6em;
    padding-right: .6em;
    position: relative;
    color: rgb(127, 127, 128);
    //background-image: linear-gradient(to bottom, rgb(22, 22, 22), rgb(22, 22, 22), rgb(31, 31, 31));
    //box-shadow: rgb(15, 15, 15) 0px 9px 5px -6px;
}
.hmimg{
    display: flex;
    position:relative;
    margin-top: .3em;
    margin-left: .5em;
}

span.topbtn:hover{
    box-shadow:black 0px 0px 0px 0px ;
}
span.topbtn:hover::before,span:focus::before{
    visibility: visible;
}
.aboutico{
   margin-top: .3em;
   margin-left: .5em;
}
.section1{
    width: 100%;
text-align: center;
justify-content: center;
align-items: center;


}
.webimg{
    display:inline-flex;
    position: relative;
    justify-content: center;
    width: 95%;
    max-width: 700px;
    margin-top: 1em;
    padding: .6em;
    border-radius: .7em;
    background-color: rgba(0, 0, 0, 0.055);
}
.webimg::before{
content: "";
position: absolute;
background: conic-gradient( #fa339d9c, #3db8f18a, #f8a03491, #36f75683, #f1383881);
width: 96%;
height: 96%;
top: .6em;
border-radius: .7em;
filter: blur(.4em);
animation: spin 1s infinite ease-in-out alternate;
}
@keyframes spin{
    0%{
        background-position: -110px;
    }
    10%{
        background-position: -180px;
    }
    20%{
        background-position: -210px;
    }
    30%{
        background-position: -250px;
    }
    40%{
        background-position: -280px;
    }
    50%{
        background-position: -310px;
    }
    60%{
        background-position: -340px;
    }
    70%{
        background-position: -360px;
    }
    80%{
        background-position: -370px;
    }
    90%{
        background-position: -380px;
    }
    100%{
        background-position: -390px;
    }
}
.webimg img{
    display: flex;
    position: relative;
    border-radius: .5em;
    width: 98%;
    max-width: 700px;
    box-shadow: #00000031 0px 0px 225px 0px;
}
.aboutimg
{
display:flex;
position: relative;
width: 98%;
max-width: 720px;
margin-left: auto;
margin-right: auto;
margin-top: 2em;
backdrop-filter: blur(.2em);
border-radius: .9rem;
box-shadow: rgba(0, 0, 0, 0.438) 0px 2px 15px -5px;
transition: 100ms;
}
.violethead{
    display: flex;
    position: absolute;
    padding-left: .9em;
}
.violet{
    display:flex;
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: .5em;


}
.aboutimg h4{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    position: relative;
    color: rgb(216, 98, 190);
}
.about
{
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-family: 'Montserrat Alternates', sans-serif;
    line-height: 30px;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24);
    display: flex;
    justify-content: center;
    text-align:right;
    position: relative;
}
.about p{
    margin-top: 4em;
    margin-bottom: 3em;
    padding-right: .7em;
    padding: auto;  
    margin-left: 1em;
    margin-right: 1em;  
}
.about::after
{
    align-self: center;
    margin-right: 1em;
    content: '';
    width:1em;
    height: 83%;
    background-color: rgb(243, 135, 220);
}
aboutimg::before{
    content: '';
    background-image: linear-gradient(319deg, #ff1493 0%, #0000ff 37%, #ff8c00 100%);
    position: absolute;
    z-index: -1;
    top: 0.1em;
    bottom: 0.1em;
    left: 0.1em;
    right: 0.1em;
    border-radius: .2em;
    filter: blur(.4em);
}
.img1
{
    width: 80%;
    max-width: 160px;
    display: flex;
    align-items: center;
    justify-content: end;
  }
.img1 img
{
    margin-right: 4%;
    border-radius: .4rem;
    //box-shadow: rgba(0, 0, 0, 0.199) 5px 5px 5px;
    width: 100%;
    max-width: 150px;
    min-width: 100px;

}
.whovr{
    display: flex;
    position: relative;
    backdrop-filter: blur(.2em);
    text-align: center;  
    width: 98%;
    max-width: 720px;
    box-shadow: rgba(0, 0, 0, 0.438) 0px 2px 15px -5px;
    border-radius: .9em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
}
whovr::before{
    content: '';
    background-image: linear-gradient(319deg, #ff1493 0%, #0000ff 37%, #ff8c00 100%);
    position: absolute;
    z-index: -1;
    top: 0.1em;
    bottom: 0.1em;
    left: 0.1em;
    right: 0.1em;
    border-radius: .2em;
    filter: blur(.4em);
}
.bluehead{
    display: flex;
    position:absolute;
    padding-left: .9em;

}
.bluehead img{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: .5em;
    display: flex;
    position: relative;
}
.bluehead h4{
    display: flex;
    position: relative;
    color: rgb(80, 132, 245);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.whovrtext{
    display: flex;
    position: relative;
    align-items: center;
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-family: 'Montserrat Alternates', sans-serif;
    line-height: 30px;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24);
    text-align: right;
}
.whovrtext p{
    margin-top: 4em;
    margin-bottom: 2.7em;
    margin-left: 1em;
    margin-right: 1.5em; 
}
whovrtext::before
{
    content: '';
    position: absolute;
    right:0;
    margin-top: 1.4em;
    width: .1em;
    margin-right: -.04em;
    height: 70%;
    background-color: rgb(80, 132, 245);
    filter: blur(.2em);
}
.whovrtext::after
{
    margin-right: .3em;
    content: '';
    width: 1em;
    height: 70%;
    background-color: rgb(80, 132, 245);;
}
.whovrimg{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: .9em;
    margin-bottom: .9em;
    padding-right: 1%;
    padding-left: 0;
    width: 80%;
    max-width: 160px;
}
.whovrimg img{
    margin-right: 1%;
    margin-left: 0;
    padding-left: 0;
    border-radius: .4em;
    height: 100%;
    max-height: 95px;
    


}
.services{
    display: flex;
    padding-top: 4em;
    padding-bottom: 2em;
    //margin-left: -27em;
    align-items: center;
    justify-content: center;
}

.services h2{
    color:rgb(238, 140, 75);
    font-size: 1.5em;
    letter-spacing: .5em;
    font-;
    //font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    //text-shadow: rgba(0, 0, 0, 0.219) 3px 1px 3px;
}
.section2{
    width: 100%;
}
.serow1{
    display: flex;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 650;
    font-size: .9em;
    color: cornflowerblue;
    width: 98%;
    max-width: 710px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    justify-content:space-around;
}
.serweb{
    position: relative;
    padding: .2em;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.192) 0px 0px 12px;
    text-align: center;
    border-radius: .5em;
}
.serweb:hover{
    cursor: pointer;
    box-shadow: #00b7ff 0px 0px 5px 3px;
}
.serweb::before{
    content: '';
    background-image: linear-gradient(319deg, #ff1493 0%, #0000ff 37%, #ff8c00 100%);
    position: absolute;
    z-index: -1;
    top: 0.1em;
    bottom: 0.1em;
    left: 0.1em;
    right: 0.1em;
    border-radius: .2em;
    filter: blur(.3em);

}

.sercon{
    position: relative;
    text-align: center;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.192) 0px 0px 12px;
    border-radius: .5em;
    align-items: center;
}
.sercon img{
    margin-top: .5rem;
}
.sercon p{
    padding-top: 1.rem;
    padding-left: 3rem;
    padding-right: 3rem;
}
.sercon:hover{
    cursor: pointer;
    box-shadow: #00b7ff 0px 0px 5px 3px;
}
.sercon::before{
    content: '';
    background-image: linear-gradient(319deg, #ff1493 0%, #0000ff 37%, #ff8c00 100%);
    position: absolute;
    z-index: -1;
    top: 0.1em;
    bottom: 0.1em;
    left: 0.1em;
    right: 0.1em;
    border-radius: .2em;
    filter: blur(.3em);

}
.sersoc{
    position: relative;
    padding: .1em;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.192) 0px 0px 12px;
    border-radius: .5em;
    text-align: center;
}
.sersoc p{
    margin-left: 1.5em;
    margin-right: 1.5em;
    margin-top: 2em;

}
.sersoc:hover{
    cursor: pointer;
    box-shadow: #00b7ff 0px 0px 5px 3px;
}
.sersoc::before{
    content: '';
    background-image: linear-gradient(319deg, #ff1493 0%, #0000ff 37%, #ff8c00 100%);
    position: absolute;
    z-index: -1;
    top: 0.1em;
    bottom: 0.1em;
    left: 0.1em;
    right: 0.1em;
    border-radius: .2em;
    filter: blur(.3em);

}
.serow2{
    display: flex;
    justify-content: space-around;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 650;
    font-size: .9em;
    color: cornflowerblue;
    width: 98%;
    max-width: 710px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
}


.serblog{
    position: relative;
    text-align: center;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.192) 0px 0px 12px;
    padding-top:  .25em;
    padding-left: .6em;
    padding-right: .6em;
    border-radius: .5em;
}
.serblog p{
    margin-top: 0;
    margin-left: 2.4em;
    margin-right: 2.4em;
}
.serblog:hover{
    cursor: pointer;
    box-shadow: #00b7ff 0px 0px 5px 3px;
}
.serblog::before{
    content: '';
    background-image: linear-gradient(319deg, #ff1493 0%, #0000ff 37%, #ff8c00 100%);
    position: absolute;
    z-index: -1;
    top: 0.1em;
    bottom: 0.1em;
    left: 0.1em;
    right: 0.1em;
    border-radius: .2em;
    filter: blur(.3em);

}
.gotop{
    display:inline-block;
    position: fixed;
    right: 1em;
    bottom: 1em;
    background-color: rgba(140, 141, 141, 0.973);
    box-shadow: rgba(0, 0, 0, 0.274) .1em .1em .3em .1em;
    border-radius: 5em;
    cursor: pointer;
}
.gotop img{
    width: 1.9em;
}
.gotop a{
    padding:
}
.gotop:hover{
    background-color: rgba(125, 126, 126, 0.973);}
.serpost{
    position: relative;
    padding-top: .2em;
    padding-left: 0;
    padding-right: 0%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.192) 0px 0px 12px;
    border-radius: .5em;
    text-align: center;
}
.serpost p{
    margin-top: auto;
    margin-left: 2.4em;
    margin-right: 2.4em;
}
.serpost::before{
    content: '';
    background-image: linear-gradient(319deg, #ff1493 0%, #0000ff 37%, #ff8c00 100%);
    position: absolute;
    z-index: -1;
    top: 0.1em;
    bottom: 0.1em;
    left: 0.1em;
    right: 0.1em;
    border-radius: .2em;
    filter: blur(.3em);

}
.serpost:hover{
    cursor: pointer;
    box-shadow: #00b7ff 0px 0px 5px 3px;
}
@media all and (max-width: 800px){
    .aboutimg{
        display: flex;
        position: relative;
        flex-direction: column-reverse;
    }
    .about::after
{
    top: 0;
    margin-top: 1em;
    content: '';
    position: absolute;
    width:90%;
    height: 1%;
    background-color: rgb(243, 135, 220);
}
.about p{
    font-size: 1.1em;
}
    .violethead{
        display: flex;
        position: absolute;
        left: 0;
        top: 0;
        
    }
    .img1{
        align-self: center;
        margin-top: 5em;
    }
    .about{
        text-align: left;
        justify-content: center;
    }
    .whovr{
        display: flex;
        position: relative;
        flex-direction: column-reverse;
    }
    .whovrtext p{
        font-size: 1.1em;
    }
    .whovrtext::after
{
    top: 0;
    margin-top: 1em;
    content: '';
    position: absolute;
    width: 90%;
    height: 1%;
    background-color: rgb(102, 147, 245);
}
    .bluehead{
        display: flex;
        position: absolute;
        left: 0;
        top: 0;   
    }
    .whovrimg{
        align-self: center;
        margin-top: 5em;
    }
    .whovrtext{
        text-align: left;
        justify-content: center;
    }

    .serow1{
        flex-direction: column;
    }

    .serweb{
        margin-left: 10%;
        margin-right: 10%;
    }
    .sercon{
        margin-top: 4%;
        margin-bottom: 4%;
        margin-left: 10%;
        margin-right: 10%;
    }
    .sersoc{
        margin-left: 10%;
        margin-right: 10%;
    }
    .serow2{
        flex-direction: column;
        margin-top: 4%;
    }
    .serblog{
        margin-bottom: 4%;
        margin-left: 10%;
        margin-right: 10%;
    }
    .serpost{
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 5%;
    }
    }
media all and (max-width: 430px){
    .bar{
        width: 45.7em;   
    }
    .navi{
        width: 45.0245em;
    }
}

