@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@600&family=Proza+Libre&display=swap');
body{
    margin: 0%;
    padding: 0%;
}
html{
    scroll-behavior: smooth;
}

.bar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2.7rem;
    background-color: rgb(0, 0, 0);
    opacity: 90%;
    box-shadow: rgba(0, 0, 0, 0.452) -1px 2px 8px;
    position: sticky;
    top: 0;
    z-index: 2;   
}
.gif{
    height: 90%;;

}
.navbutton{
    display: none;
    position: absolute;
    right: .5em;
    top:-.1em
}
.navbutton img{
    width: 2em;
    opacity:80% ;
}
    .navi img{
        max-width: 35px;
        max-height: 25px;
        
    }
.navi ul{
    margin-top: 2em;
    list-style: none;
    display: flex;
    justify-content:center;

}

.navi ul li{
    margin-left: 3em;
}

span.topbtn{
    display:flex;
    width: 100%;
    margin-bottom: 1em;
    align-items: center;
}

span.topbtn a{
    display: flex;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: .75em;
    font-weight: 700;
}
.topbtn :hover{
    color: rgb(252, 252, 253);
}
.bar a{
    display: flex;
    text-decoration: none;
    padding: .5em;
    padding-left: .6em;
    padding-right: .6em;
    position: relative;
    color: rgb(167, 166, 166);    
}
.logopic{
    width: 80vw;
}
.hmimg{
    display: flex;
    position:relative;
    margin-top: .3em;
    margin-left: .5em;
}
.aboutico{
   margin-left: .5em;
   margin-right: .4em;
}
.line{
    width: 100%;
    height: 3px;
    background-color: rgba(117, 116, 116, 0.253);
}
.section1{
    width: 100%;
text-align: center;
justify-content: center;
align-items: center;
}
.aboutimg
{
display:flex;
justify-content: center;
align-items: center;
position: relative;
margin-left: auto;
margin-right: auto;
margin-top: 2em;
padding: 3em;
}
.aboutimg h4{
    font-family: 'Proza Libre', sans-serif;
    display: flex;
    margin-left: 4em;
    color: rgb(189, 25, 189);
    font-size: 2em;
}
.about p{
    color: rgb(138, 14, 138);
    text-align: justify;
    font-weight: 600;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 2.4vh;
    line-height: 2em;
    padding-right: .7em;
    margin-top: 30%;
    margin-left: 2em;
    margin-right: 2em;  
}
.aboutimg img
{
    width: 100%;
}
.whovr{
    display: flex;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: em;
    padding: 3em;
}
.bluehead{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.bluehead h4{
    display: flex;
    font-family: 'Proza Libre', sans-serif;
    margin-left: 30%;
    color: rgb(24, 101, 163);
    font-size: 2em;
}
.whovrtext{
    display: flex;
    position: relative;
    align-items: flex-end;
    color: rgb(24, 101, 163);
    font-weight: 600;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 2.4vh;
    line-height: 2em;
}
.whovrtext p{
    text-align: justify;
    margin-left: 1em;
    margin-right: 1.5em; 
}
.whovrimg{
    width: 100%;
    max-width: 2300px;

}
.services{
    display: flex;
    padding-top: 2em;
    padding-bottom: 2em;
    align-items: center;
    justify-content: center;
    background-image: ;
}

.services h2{
    font-family: 'Proza Libre', sans-serif;
    color:rgb(39, 119, 194);
    font-size: 1.8em;
    letter-spacing: .3em;
}
.section2{
    display: flex;
    width: 100%;
    position: relative;
    align-items: center;
    justify-content: center;
}
.monitor{
    position: absolute;
    top: 8%;
    margin-left: .1em;
    width: 35em;
}
.phone{
    display: none;
}
.serow1{
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    font-weight: 900;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: .9em;
    text-shadow: #00000011 1px 1px;
    background-image: url(images/background/5083499.jpg);
    background-size: cover;
    color: rgb(43, 42, 42);
    width: 25em;
    height: 12em;
    max-width: 710px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    padding: 5.2em;
    padding-top: 7em;
    margin-bottom: 7em;
}
.serweb{
    width: 14em;
    height: 17.4em;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.295) 0px -1px 5px 1px;
    background-color: rgba(248, 8, 248, 0.24);
    backdrop-filter: blur(.7em);
    transition: ease-out .4s;
    text-align: center;
    margin-top: -3.3em;
    margin-left: 6em;
    border-radius: .5em;
    margin-right: 8.5em;
}
.serweb:hover{
    cursor: pointer;
    transition: ease-in-out .3s;
    box-shadow: rgba(0, 0, 0, 0.295) 0px 1px 10px 5px;
}
.sercon{
    height: 17em;
    position: relative;
    padding: .2em;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.295) 0px -1px 5px 1px;
    background-color: rgba(16, 248, 8, 0.377);
    backdrop-filter: blur(.7em);
    transition: ease-in-out .3s;
    border-radius: .5em;
    align-items: center;
    margin-right: 9em;
    margin-top: -3.3em;
}
.sercon:hover{
    cursor: pointer;
    transition: ease-in-out .3s;
    box-shadow: rgba(0, 0, 0, 0.295) 1px 3px 7px 5px;
}
.sersoc{
    width: 14em;
    height: 17.2em;
    position: relative;
    padding: .1em;
    box-shadow: rgba(0, 0, 0, 0.295) 0px -1px 5px 1px;
    background-color: rgba(0, 149, 248, 0.301);
    backdrop-filter: blur(.7em);
    transition: ease-out .4s;
    border-radius: .5em;
    text-align: center;
    margin-right: 8.5em;
    margin-top: -3.3em;
}
.sersoc p{
    margin-left: 1.5em;
    margin-right: 1.5em;
    margin-top: 2em;

}
.sersoc:hover{
    cursor: pointer;
    transition: ease-in-out .3s;
    box-shadow: rgba(0, 0, 0, 0.295) 1px 3px 7px 5px;
}
.serblog{
    width: 14em;
    height: 17.2em;
    position: relative;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.295) 0px -1px 5px 1px;
    background-color: rgba(248, 8, 8, 0.322);
    backdrop-filter: blur(.7em);
    transition: ease-out .4s;
    padding-top:  .25em;
    padding-left: .6em;
    padding-right: .6em;
    border-radius: .5em;
    margin-right: 8.5em;
    margin-top: -3.3em;
}
.serblog p{
    margin-top: 0;
    margin-left: 2.4em;
    margin-right: 2.4em;
}
.serblog:hover{
    cursor: pointer;
    transition: ease-in-out .3s;
    box-shadow: rgba(0, 0, 0, 0.295) 1px 3px 7px 5px;
}
#totop{
    display: flex;
    position: fixed;
    right: 0;
    bottom: 0;
    background: none;
    z-index: 1;
}
.gotop button{
    border: none;
    outline: none;
}
.gotop img{
    width: 4.9em;
    height: 5.5em;
}
.serpost{
    width: 14em;
    height: 17.2em;
    position: relative;
    padding-top: .2em;
    padding-left: 0;
    padding-right: 0%;
    box-shadow: rgba(0, 0, 0, 0.295) 0px -1px 5px 1px;
    background-color: rgba(3, 7, 223, 0.356);
    backdrop-filter: blur(.7em);
    border-radius: .5em;
    text-align: center;
    transition: ease-out .4s;
    margin-top: -3.3em;
}
.serpost p{
    margin-top: auto;
    margin-left: 2.4em;
    margin-right: 2.4em;
}
.serpost:hover{
    cursor: pointer;
    transition: ease-in-out .3s;
    box-shadow: rgba(0, 0, 0, 0.295) 1px 3px 7px 5px;
}
@media all and (max-width: 800px){
    .full{
        background-image: url(images/div/5994312.2.jpg);
        background-size: cover;

    }
    .monitor{
        display: none;
    }
    .bar{
        max-height: 35px;
    }
    .navi{
        display: none;
    }
    .navbutton{
        display: flex;
    }
    .navi ul{
        display: flex;
        flex-direction: column;
        width: 100%;
        font-size: 1.3em;
        margin-top: 15em;
    }
    .line1{
        width: 100%;
        height: 1px;
        background-color: rgba(72, 72, 73, 0.863);
       
    }
    .navi li{
        margin-top: 1em;
        margin-right: 1em;
    }
    .navi.active{
        display: flex;
        width: 50%;
        border-radius: .7em;
        justify-content: center;
        margin-right: 8%;
        padding-right: 5em;
        background-color: rgb(0, 0, 0);
    }
    span.topbtn a{
        display: flex;
        font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: .49em;
        font-weight: 700;
    }
    .logopic{
        margin-top: 2em;
        width: 100%;
    }
    .aboutimg{
        flex-direction: column;
        padding: 1%;
    }
.about p{
    margin:6%;
    margin-right: 3%;
    font-size: 1.1em;
    line-height: 2em;
}
    .whovr{
        flex-direction: column-reverse;
        margin-top: 3em;
        padding: 1%;
    }
    .whovrtext p{
        margin-left: 0%;
        margin-right: 0%;
        margin: 6%;
    }
    .bluehead h4{
       margin: 0;
    }
    .whovrimg{
        align-self: center;
        margin-top: 5em;
    }
    .whovrtext{
        text-align: left;
        justify-content: center;
        font-size: 1.1em;
        line-height: 2em;
    }
    .phone{
    display: flex;
    position: absolute;
    top: 8%;
    margin-left: -.2em;
    width: 22em;
    height: 40em;
    }
    .serow1{
        margin-top: 7em;
        margin-bottom: 24em;
        width: 10.45em;
        font-family: ;
        height: 30em;
    }
    .serweb{
        margin-top: auto;
        margin-bottom: auto;
        margin-left: -1em;
        margin-right: 10%;
    }
    .sercon{
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 1.1em;
        margin-right: 10%;
    }
    .sersoc{
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 1.1em;
        margin-right: 10%;
    }
    .serblog{
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 1.1em;
        margin-right: 10%;
    }
    .serpost{
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 1.1em;
        margin-right: -1em;
    }
    .gmail{
        font-size: .8em;
    }
    #totop{
        bottom: 2em;
    }  
}
.bottom{
    display: flex;
    width: 100%;
    margin-top: 1.5em;
    padding-top: 2em;
    justify-content: space-between;
    background-color: rgba(248, 8, 248, 0.144);
    backdrop-filter: blur(1em);
    box-shadow: rgba(0, 0, 0, 0.199) 0px -4px 9px;
}
.gmail{
    margin-left: 3.9em;
}
.bottomleft ul{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    margin-top: 2em;
}
.bottomleft img{
    min-width: 1.1em;
    max-width: 1.5em ;
}
.bottomleft a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(0, 0, 0);
    justify-content: center;
    margin-top: 6vh;
}
.bottomright ul{
    margin-top: -1em;
    padding-right: 3em;
}
.bottomright li{
    list-style: none;
    margin: .7em;
}
.bottomright a{
    color: rgba(0, 0, 0, 0.856);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.team{
    background-color: #ced3d300;
    backdrop-filter: blur(1em);
    font-size: 1em;
    text-align: center;
    font-family: 'Times New Roman', Times, serif, sans-serif;
    color: #000000b9;
    font-weight: 300;
    margin-bottom: -1em;   
}
    #pageloader img{
        width: 130px;
    }
    #pageloader{
        display: flex;
        width: 100%;
        height: 100vh;
        position: fixed;
        background-color: #ffffff;
        z-index: 100;
        align-items: center;
        justify-content: center;
    }
    #pageloader img{
        width: 250px;
    }

